@page "/contactdetails"
@page "/contactdetails/{id:int}"


@inject IContactService ContactService
@inject NavigationManager NavigationManager

@if (contact == null)
{
    <p><em>Loading...</em></p>}
else
{
    <EditForm Model="contact" OnInvalidSubmit="Save">
        <div class="card">
            <h5 class="card-header">Contacto</h5>
            <div class="card-body">
                <div class="container">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="">Nombre</label>
                            <InputText class="form-control" @bind-Value="@contact.Nombre"></InputText>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="">Apellido</label>
                            <InputText class="form-control" @bind-Value="@contact.Apellido"></InputText>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="">Telefono</label>
                            <InputText class="form-control" @bind-Value="@contact.Telefono"></InputText>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="">Direccion</label>
                            <InputTextArea class="form-control" @bind-Value="@contact.Direccion"></InputTextArea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">

                        </div>
                        <div class="col-md-4 mb-3">
                            <input type="submit" class="btn btn-success" value="Save" @onclick="Save" />
                            <input type="button" class="btn btn-secondary" value="Cancel" @onclick="NavigateHome" />
                        </div>
                        <div class="col-md-4 mb-3">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </EditForm>
}


@code {

    public Contact contact;
    [Parameter]
    public int id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (id == 0)
        {
            contact = new Contact();
        }
        else
        {
            contact = await ContactService.GetContact(id);
        }
    }

    protected async Task Save()
    {
        await ContactService.SaveContact(contact);
        NavigateHome();
    }


    private void NavigateHome()
    {
        NavigationManager.NavigateTo("/");
    }
}
